<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save A Car</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <p class="h4 mb-4">Create New A Car</p>
    <form action="#" th:action="@{/admin/save}" th:object="${car}" method="post">
        <input type="hidden" th:field="*{id}">
        <input th:type="text" th:field="*{name}" class="form-control mb-4 w-25" placeholder="Name">
        <input th:type="text" th:field="*{imageUrl}" class="form-control mb-4 w-25" placeholder="Image URL">
        <input th:type="text" th:field="*{dailyPrice}" class="form-control mb-4 w-25" placeholder="Daily Price ($)">
        <input type="hidden" th:field="*{status}">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/admin/list-crud-cars.html}">back to Car List</a>
</div>
</body>
</html>